h1{
    text-align: center;
    color: blue;
    padding: 20px 40px;
}
h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
body{
    background-image: linear-gradient(lightblue, gray, blue);
}
button{
    padding: 8px 8px;
    color: blue;
}
table{
    border-collapse: collapse;
    margin: 150px auto;
}
th, td{
    padding: 10px;
    text-align: center;
}
th{
    background-color: aqua;
}
label{
    align-items: center;
}
img{
    
position: absolute;
    top: 20px;
    right: 30px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 5px;
}
p{
   text-align: center; 
   text-decoration: solid;
   text-overflow: ellipsis;
}